body {
    font-family: "monospace", sans-serif;
    background-color: rgb(1, 23, 44);
    color:#27fcfc;
    text-align: justify;
    margin-left: 80px;
    margin-right: 80px;
}

h1 {
    color:rgb(39, 252, 252);
    text-align: center;
}

li {
    color: aquamarine;
}

img {
    height: 500px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(120, 40, 122);
  color: #27fcfc;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

.bottom {
    margin-bottom: 60px;
}